# ignore merge files
*.orig

# ignore thumbnails created by windows
Thumbs.db

# vs code and vs files
.vs/
.vscode/
*.user
*.code-workspace

# dotnet build files
obj/
bin/
project.lock.json

# eclipse files
.project
.classpath
.settings/

# IDEA files
.idea/
*.iml

# maven files
target/

